[submodule "thirdparty/IXWebSocket"]
	path = thirdparty/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git